h1 {
	font-size: 70px;

}

main {
	background: #11afc0;
	margin: 0 auto;
	max-width: 1080px;
}

header {
	/*background: #11afc0;*/
	margin: 0 auto;
	max-width: 1440px;
	border: 10px solid #ffffc0;
}

body {
	background: #11afc0;
}

.test-text {
	font-family: Kurale, Arial, sans-serif;
}